serial --unit=0 --speed=57600
#terminal serial console
#timeout 1
#color white/blue black/light-gray

########################################################
title = L4ka::Linux Afterburned
      kernel=(nd)/tftpboot/stoess/afterburn/p4/kickstart kmem=256M
      module=(nd)/tftpboot/stoess/afterburn/p4/pistachio 
      module=(nd)/tftpboot/stoess/afterburn/p4/sigma0
      module=(nd)/tftpboot/stoess/afterburn/p4/l4ka-resourcemon 
      module=(nd)/tftpboot/stoess/afterburn/p4/afterburn-wedge-l4ka-passthru vmstart vmsize=768M \
        wedgeinstall=16M wedgesize=64M vcpus=2 pcpus=2
      module=(nd)/tftpboot/stoess/afterburn/p4/vmlinuz-driver noacpi=1 nosmp=1 noapic=1 \
        devfs=mount console=tty console=ttyS0,57600 ramdisk_size=131072 \
	root=/dev/ram0 ip=192.168.40.204:192.168.40.0:192.168.40.1:255.255.255.0:i30pc54.os.uka.de:eth0:off
     modulenounzip=(hd0,0)/ramdisk/ramdisk128.gz
